name: Run Tests

on:
  - push

jobs:
  test-release:
    name: test-release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [macos-x86, linux-x86, linux-arm, win-msvc]
        include:
          - build: macos-x86
            os: macos-latest
            rust: nightly
            target: x86_64-apple-darwin
          - build: linux-x86
            os: ubuntu-18.04
            rust: nightly
            target: x86_64-unknown-linux-musl
          - build: linux-arm
            os: ubuntu-18.04
            rust: nightly
            target: aarch64-unknown-linux-gnu
          - build: win-msvc
            os: windows-2019
            rust: nightly
            target: x86_64-pc-windows-msvc
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          target: ${{ matrix.target }}
          components: clippy

      - name: Test
        run: |
          cargo test

      - name: Clippy
        run: |
          cargo clippy
